<!DOCTYPE html>
<meta charset="utf-8">
<title>Regime {{ include.letter }}, Pentagon Toy</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<div id="buttons">
<button disabled="true" id="start-over" type="button">Start over</button>
<button disabled="true" id="shrink" type="button" class="square">&minus;</button>
<button disabled="true" id="enlarge" type="button" class="square">+</button>
</div>
{%- comment %}
    an ad hoc way to generate 15 tolerable pairs of hues
{% endcomment %}
{%- assign centre_hue = include.hue_index | modulo: 5 | times: 75 %}
{%- assign other_hue_shift = include.hue_index | modulo: 3 | times: 60 | plus: 120 %}
{%- assign other_hue = centre_hue | plus: other_hue_shift | modulo: 360 %}
<svg id="svg" viewBox="-500 -500 1000 1000">
    <g id="magnification">
        <g id="transformed"
            fill-opacity="0.5" fill="hsl({{other_hue}} 100% 50%)" />
        <g id="pentagon-g"
            fill-opacity="0.5" fill="hsl({{centre_hue}} 100% 50%)">
            <polygon id="pentagon" stroke="black" stroke-width="1mm" />
        </g>
        <g id="vertices" />
    </g>
</svg>
<script src="common.js"></script>
<script>
{{ include.setup_code }}
pentagons(xfm, paths(origin, neighbours(edgeVecs, inBounds)));
setUpButtons();
</script>
